node_modules
node_modules/
node_modules/*
logs
logs/
logs/*
database
database/
database/*
.vscode
.vscode/
.vscode/*
.env
.eslintrc.json
.editorconfig
.prettierrc.json
.gitignore
.prettierignore
docker-compose.yml
first-run.lock
